[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/acct2024
	label-Code-Review = -2..+2 group acct-CodeReviewer
	label-Verified = -1..+1 group acct-CodeReviewer
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/acct2024
	label-Verified = -1..+1 group user/acct2024
	push = group acct-members
	push = group user/acct2024
	read = group acct-members
	read = group user/acct2024
	rebase = group user/acct2024
	removeReviewer = group acct-CodeReviewer
	removeReviewer = group user/acct2024
	submit = group acct-CodeReviewer
	submit = group user/acct2024
[access "refs/heads/*"]
	create = group user/acct2024
	push = +force group user/acct2024
	pushMerge = group user/acct2024
	read = group acct-members
	read = group user/acct2024
[access "refs/tags/*"]
	push = group user/acct2024
	push = +force group user/acct2024
